sonar.projectKey=your.project.key
sonar.projectName=Project Name

# =====================================================
#   Meta-data for the project
# =====================================================

sonar.links.homepage=https://github.com/username/project-repo
sonar.links.ci=https://travis-ci.org/username/project-repo
sonar.links.scm=https://github.com/username/project-repo
sonar.links.issue=https://github.com/username/project-repo/issues


# =====================================================
#   Properties that will be shared amongst all modules
# =====================================================

sonar.host.url=https://sonarcloud.io
sonar.organization=username-github
sonar.login=xxxxxxxxxxxxxxxxxxxxxx
sonar.sources=src
sonar.exclusions=node_modules/**/*

# =====================================================
#   Java config
# =====================================================
sonar.java.source=1.8
sonar.java.binaries=.

###########################################################

sonar.projectKey=projectKey
sonar.projectName=projectName
# Number version (can be found automatically in plist, just comment this line)
sonar.projectVersion=1.0
# Comment if you have a project with mixed ObjC / Swift
sonar.language=swift
# Project description
sonar.projectDescription=My App.
# Path to source directories
sonar.sources=./
# Destination Simulator to run surefire
# As string expected in destination argument of xcodebuild command
# Example = sonar.swift.simulator=platform=iOS Simulator,name=iPhone 6,OS=9.2
sonar.swift.simulator=platform=iOS Simulator,name=iPhone 6,OS=9.2
# Scheme to build your application
sonar.swift.appScheme=appScheme
# Configuration to use for your scheme. if you do not specify that the default will be Debug
sonar.swift.appConfiguration=debug
